<h1>Add a new parcel for pick-up</h1>

<form action="/parcels" method="post">
  <div class="form-group">

    <label for="parcel_length">Parcel Length</label>
    <input id="l" name="parcel_length" class="form-control" type="text">

    <label for="parcel_width">Parcel Width</label>
    <input id="w" name="parcel_width" class="form-control" type="text">

    <label for="parcel_length">Parcel Height</label>
    <input id="l" name="parcel_height" class="form-control" type="text">

  </div>
  <button type="submit" class="btn">Go!</button>
</form>